@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  background-color: rgba(12, 12, 12, 0.6);
  border-radius: 15px;
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
  font-family: 'Poppins', sans-serif; /* New Font */
}

.title {
  color: #ffffff;
  font-size: 40px; /* Larger for prominence */
  font-weight: 700;
  letter-spacing: 2px; /* More space between letters */
  text-transform: uppercase;
  margin-bottom: 20px;
  background: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%); /* Gradient text */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* Apply gradient fill */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); /* Subtle shadow */
  animation: fadeIn 1.5s ease-in-out;
  margin-bottom: 60px;

}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.aboutItemText {
  font-size: 20px; /* Cleaner size */
  line-height: 1.8;
  color: #e0e0e0; /* Lighter text color for contrast */
  padding-left: 20px;
  max-width: 60%;
  letter-spacing: 1.2px; /* More spacing between letters */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
}

.aboutItemText p {
  transition: transform 0.3s ease, color 0.3s ease; /* Smooth transition */
}

.aboutItemText p:hover {
  color: #FC00FF; /* Color change on hover */
  transform: scale(1.05); /* Slight scaling on hover */
}

/* Fade In Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 830px) {
  .content {
    flex-direction: column;
    text-align: center;
  }

  .aboutItemText {
    padding-left: 0;
    margin-top: 20px;
    max-width: 100%;
  }
}
